---
import '../styles/global.css';
import { Icon } from 'astro-icon';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="layout">
			<header>
				<div id="drag-zone" />
				<div id="actions">
					<button id="minimize">
						<Icon name="mdi:window-minimize" />
					</button>
					<button id="maximize">
						<Icon name="mdi:window-maximize" />
					</button>
					<button id="close">
						<Icon name="mdi:close" />
					</button>
				</div>
			</header>
			<slot />
		</div>
	</body>
</html>

<style>
#layout {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  overflow: hidden;
	flex-grow: 1;
	display: grid;
	grid-template-areas: "app-header"
											 "app-content";
	grid-template-rows: 2rem auto;
}

header {
	display: flex;
	font-size: 1.5rem;
}

#drag-zone {
	flex: 1 0 auto;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

#actions {
	display: flex;
	gap: .5rem;
	padding-right: .5rem;
}

button:hover {
	color: var(--color-font--dark);
}
</style>

<script>
	document.getElementById('minimize')?.addEventListener('click', () => window.ipcRenderer.send("onAppMinimize"));
	document.getElementById('maximize')?.addEventListener('click', () => window.ipcRenderer.send("onAppMaximize"));
	document.getElementById('close')?.addEventListener('click', () => window.ipcRenderer.send("onAppClose"));
</script>